 body {
        margin: 0px;
        padding: 0px;
    }

.font-icon i{
    margin: 5px;
    font-size: 25px;
}
    section {
        background-image: url("header-bg.jpg");
        background-size: 100%;
        width: 100%;
        height: 100%;
        background-position: center;
    }

    section div {
        border: solid 0.1px rgba(102, 51, 153, 0);
        text-align: center;
    }

    section div h1 {
        font-size: 8.3rem;
        font-family: 'Raleway', sans-serif;
        color: white;
        margin-top: 10%;
        margin-bottom: 0px;
    }

    section div h2 {
        font-size: 3rem;
        margin-top: 0px;
        letter-spacing: 3px;
        font-family: 'Roboto Slab', serif;
        color: white;
    }

    nsec div {

        width: 100%;

        font-family: 'Raleway', sans-serif;
        margin-top: 40px;
        margin-bottom: 40px;
        font-size: 16px;
        color: #b3a5a5;
        text-align: center;
    }
    .chart{
text-align: center;
    background-color: #e1e1e1;
        padding-bottom: 60px;
    }
    .chart h2{
        padding-top: 60px;
        font-weight: 100;
        margin-top: 0px;
    }

.chart>.icon{
    display: flex;
    justify-content: space-around;
}
.a{
    font-size:1.3rem;
}
    .a bold {
        color: black;
    }

    .sup {
        width: 100%;
        height: 400px;
        background-color: rgb(152 135 135 / 16%);
       
    }

    .title {
        font-size: 28px;
        padding-top: 23px;
        padding-bottom: 23px;
        text-align: center;
        font-family: 'Lexend', sans-serif;
        color: rgb(44, 37, 37);

    }

    .main_fle {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        /* border: solid 2px; */
        padding-left: 55px;
        padding-right: 55px;
        padding: 10px 55px;
        padding-bottom:2em;
    }

    .ha {
        /* border: solid 1px red; */
        text-align: center;
        width: 15%;
        font-size:12px;
        color:grey;
        line-height:1.5rem;
    }

    .work {
        background-image: url("portfolio-bg.jpg");
        width: 100%;
        height: 452px;
        background-repeat: no-repeat;
    }


    .c {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding-top: 50px
    }

    .new {
        font-size: 35px;
        padding-left: 656px;
        padding-top: 100px;
        font-family: 'Lexend', sans-serif;
        color: white;
    }

    lsec div {
        width: 100%;
        text-align: center;
        color: #b3a5a5;
    }

    lsec div h3 {
        font-family: 'Raleway', sans-serif;
        font-size: 24px;
        margin: 45px auto;
    }

    .t bold {
        color: black;
    }

    .about {
        width: 100%;
        background-color: #c5c5c561;
        text-align: center;
        padding-bottom: 30px;
        height:17rem;
    }

    .about h2 {
        padding: 34px 0px 40px 0px;
        font-weight: 200;
        color: rgba(58, 56, 56, 0.726);
    }

    .about p {
        width: 54%;
        margin: auto;
        color: rgba(109, 103, 103, 0.726);
        line-height: 25px;

    }
    .tit{
        color:white ;
        text-align:center;
    }

    .aboutfle {
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .foot {
        background-color: rgb(43, 43, 43);
        padding-bottom: 50px;
    }

    .footers {
        text-align: center;
        display: flex;
    justify-content: space-around;
        flex-direction: row;
        color: rgb(255, 255, 255);
        font-size:1.3em;

    }
    .titlefo{
          color: white;
          text-align: center;
          margin-top: 0px;
          font-size: 28px;
          padding: 4%;
          padding-left:3em;
      }

    .tabul {
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        align-items: center;
    }

    div input {
        /* text-align: center; */
        width: 100%;
        /* height: 100px; */
        border: none;
        border-radius: 5px;
        padding-left: 20px;
        height: 35px;

    }
    

    div label{
        color: rgb(137, 137, 137);
        /* padding-right: 52rem; */
        margin-top: 50px;
        padding-top: 30px;
    }

.send-msg{
    background-color:#F85B35;
     width:9.7rem;
     border: none;
     color: white;
     padding: 15px;
     border-radius:5px;
     margin-top: 20px;
     margin-left: 18rem;
}
